In [4]:
from random import randint, shuffle
import pandas as pd
import temp0708 as temp

def prnt():

    print('0:',temp.id0())
    print('1:',temp.id1())
    print('2:',temp.id2())
    print('3:',temp.id3())
    print('4:',temp.id4())
    print('5:',temp.name_maker(5))
    print('6:',temp.id6())
    print('7:',temp.med_name(7))
    print('8:',temp.phone_number_maker(8))
    print('9:',temp.phone_number_maker(9))
    print('10:',temp.email_maker()) #10
    for i in range(11,20+1): #11~20
        print(f'{i}:',temp.kcd(i))    
    print('21:',temp.name_maker(21))
    print('22:',temp.id22())
    print('23:',temp.id23())
    print('114:',temp.id114())
    print('115:',temp.med_name(115))
    print('116:',temp.name_maker(116))
    print('117:',temp.name_maker(117))
    print('118:',temp.id118())
    print('119:',temp.id119())
    print('120:',temp.med_name(120))

prnt()

0: ('11541637', [443, 132])
1: ('2010', [94, 153])
2: ('4', [131, 153])
3: ('6', [162, 153])
4: ('9057', [220, 153])
5: ('성진서', [155, 173])
6: ('970123-1124945', [155, 198])
7: ('아지도민정300밀리', [362, 153])
8: ('062-0859-9520', [362, 171])
9: ('052-7475-0542', [362, 189])
10: ('sxiljnvkhadcb@daum.net', [362, 205])
11: ('W1', [79, 224])
12: ('U7', [106, 224])
13: ('K1', [136, 224])
14: ('F0', [163, 224])
15: ('H3', [194, 224])
16: ('V8', [79, 242])
17: ('F0', [107, 242])
18: ('U7', [137, 242])
19: ('H6', [164, 241])
20: ('T0', [195, 242])
21: ('노민재', [259, 225])
22: ('치과의사', [423, 223])
23: ('646253', [423, 242])
114: (105, [162, 683])
115: ('테보민정', [142, 718])
116: ('지건우', [166, 738])
117: ('제다은', [274, 738])
118: (11, [142, 752])
119: 56년 13월 30일
120: ('노발탄정5/160밀', [325, 735])